body {
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 25px;
  font-size: 2.3rem;
}

.h2-name {
  font-size: 22px;
}

.h2-list {
  margin-left: 27px;
  font-size: 1.5rem;
}

.row {
  margin-left: 15px;
}

.load {
  text-align: center;
  font-size: large;
}

.list-group-item.active {
  font-size: 1.2em;
  background-color: #007bff;
  color: #fff;
}

.selected-brewery-info {
  position: absolute;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.brewery-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  animation: reverse;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }


  .btn-secondary {
    margin-top: 8px;
    border: 1px solid rgb(153, 153, 153);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 0.5rem;
    background-color: rgb(153, 153, 153);
    color: white;
  }

  .list-group-item {
  position: relative;
  }

  .list-group-item:hover .brewery-info {
  display: block;
  }

  .list-group-item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  }

  .list-group-item.active {
  background-color: #007bff;
  color: #fff;
  }

  .list-group-item.active:hover {
  background-color: #007bff;
  }

  .search {
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

  }
